@import 'tailwindcss';
@import 'tw-animate-css';
/* @import "./../../node_modules/tw-animate-css"; */

@font-face {
  font-family: 'ArabicFont';
  src: url('./../../public/fonts/Noto_Kufi_Arabic/NotoKufiArabic-VariableFont_wght.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArabicFont1';
  src: url('./../../public/fonts/alfont_com_AlFont_com_mbc-arabic-font.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArabicFont2';
  src: url('./../../public/fonts/alfont_com_ArbFONTS-Bahij_TheSansArabic-Plain.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html[lang='ar'],
html[dir='rtl'],
[lang='ar'],
*:lang(ar) {
  font-family: 'ArabicFont2', sans-serif !important;
}

.ltr {
  direction: ltr !important;
}

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.2305 0.0041 264.4868);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2305 0.0041 264.4868);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2305 0.0041 264.4868);
  --primary: oklch(0.5844 0.2596 306.649);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9417 0.0041 301.4224);
  --secondary-foreground: oklch(0.2305 0.0041 264.4868);
  --muted: oklch(0.9809 0.0025 228.7836);
  --muted-foreground: oklch(0.5387 0.0088 241.7766);
  --accent: oklch(0.9809 0.0025 228.7836);
  --accent-foreground: oklch(0.2305 0.0041 264.4868);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.876 0.0095 242.8534);
  --input: oklch(1 0 0);
  --ring: oklch(0.5844 0.2596 306.649);
  --chart-1: oklch(0.5844 0.2596 306.649);
  --chart-2: oklch(0.4086 0.183 293.1591);
  --chart-3: oklch(0.3117 0.0913 289.5864);
  --chart-4: oklch(0.5297 0.2244 309.4961);
  --chart-5: oklch(0.8427 0.0527 301.2895);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.2305 0.0041 264.4868);
  --sidebar-primary: oklch(0.5844 0.2596 306.649);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9809 0.0025 228.7836);
  --sidebar-accent-foreground: oklch(0.2305 0.0041 264.4868);
  --sidebar-border: oklch(0.876 0.0095 242.8534);
  --sidebar-ring: oklch(0.5844 0.2596 306.649);
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.08;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.04);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.08), 0 1px 2px -1px hsl(0 0% 0% / 0.08);
  --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.08), 0 2px 4px -1px hsl(0 0% 0% / 0.08);
  --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.08), 0 4px 6px -1px hsl(0 0% 0% / 0.08);
  --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.08), 0 8px 10px -1px hsl(0 0% 0% / 0.08);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2);
  --tracking-normal: normal;
  --spacing: 0.25rem;
}

html.dark {
  --background: oklch(0.2305 0.0041 264.4868);
  --foreground: oklch(1 0 0);
  --card: oklch(0.2305 0.0041 264.4868);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.2305 0.0041 264.4868);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.5844 0.2596 306.649);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3732 0.0053 236.6404);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.3732 0.0053 236.6404);
  --muted-foreground: oklch(0.7639 0.0014 286.3666);
  --accent: oklch(0.3732 0.0053 236.6404);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.3732 0.0053 236.6404);
  --input: oklch(0.2305 0.0041 264.4868);
  --ring: oklch(0.5844 0.2596 306.649);
  --chart-1: oklch(0.5844 0.2596 306.649);
  --chart-2: oklch(0.4086 0.183 293.1591);
  --chart-3: oklch(0.3117 0.0913 289.5864);
  --chart-4: oklch(0.5297 0.2244 309.4961);
  --chart-5: oklch(0.8427 0.0527 301.2895);
  --sidebar: oklch(0.2305 0.0041 264.4868);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.5844 0.2596 306.649);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.3732 0.0053 236.6404);
  --sidebar-accent-foreground: oklch(1 0 0);
  --sidebar-border: oklch(0.3732 0.0053 236.6404);
  --sidebar-ring: oklch(0.5844 0.2596 306.649);
  --font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-serif: Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.25rem;
  --shadow-x: 0;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.25rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.1);
  --shadow-xs: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.1);
  --shadow-sm: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2), 0 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2), 0 1px 2px -1px hsl(0 0% 0% / 0.2);
  --shadow-md: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2), 0 2px 4px -1px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2), 0 4px 6px -1px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.2), 0 8px 10px -1px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0 0.125rem 0.25rem 0 hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

/* 
  --animate-shine: shine 3s ease-out infinite;

  @keyframes shine {
    0% {
      background-position: 200% 0;
    }

    25% {
      background-position: -200% 0;
    }

    100% {
      background-position: -200% 0;
    }
  }

  --animate-gradient-flow: gradientFlow 10s ease 0s infinite normal none running;

  @keyframes gradientFlow {

    0%,
    100% {
      background-position: 0% 50%
    }

    50% {
      background-position: 100% 50%
    }
  } */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

.glassy {
  background: rgba(255, 255, 255, 0.5);
  /* or use a dark rgba if dark mode */
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.min-\[2500px\]\:hidden {
  @media (width >=2500px) {
    display: none;
  }
}

.rbc-off-range-bg {
  background-color: var(--shadow-color) !important;
}

.rbc-today {
  background-color: var(--shadow-color) !important;
  color: #000;
}

@keyframes collapsible-down {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 2000px;
    opacity: 1;
  }
}

@keyframes collapsible-up {
  from {
    max-height: 2000px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.animate-collapsible-down {
  animation: collapsible-down var(--ant-motion-duration-mid) var(--ant-motion-ease-out);
  animation-fill-mode: forwards;
}

.animate-collapsible-up {
  animation: collapsible-up var(--ant-motion-duration-mid) var(--ant-motion-ease-in);
  animation-fill-mode: forwards;
}
